{% extends 'lanex/base.html' %}
{% load static %}

{% block title_block %}
The Privacy Policy
{% endblock %}

{% block body_block %}

<section id="Policy">
    <div class="container">
        <div class="row justify-content-center">
            <img class="" src="/static/images/logo.png" />
        </div>

        <h2 class="pt-4">Privacy</h2>
        <hr />
        <p class="text-muted">Last Updated: April 01, 2021</p>
        <p class="mb-5">We appreciate your experience here and we value your privacy. While we try to make for a
            satisfying user
            experience, it is important also that we comply by standards in how we process any data collected on our
            website and ensure the integrity and safety of our users. So let's run over the main points you need to be
            aware of.

        </p>
        <div class="mb-4">
            <h5>1. Information We Collect and How Personal Data is Used</h5>
            <hr>
            We may collect personally identifiable information about you that you provide to us when you use our
            Services such as your name, age, and email address (“Personal Information”). We may collect Personal
            Information directly from you, from third parties, and automatically through your use of our Services. We
            may combine information collected from or about you from these various sources.

            We may also automatically collect information about users of our Services through cookies, web beacons, and
            other technologies. Some or all of this information may be collected by third-party software providers and
            some or all of this information may be collected by us and transferred to such third-party providers for
            further analysis. The collected information may include, but is not limited to, IP address and domain name;
            browser type and operating system; web pages viewed; links clicked; the length of time spent on our
            Services; and the referring URL, or the webpage that led a user to our Services. In addition, we may collect
            information about user activities within our Services, such as a user's learning progress, lessons accessed
            and completed, and download history.

            We do not demand that you provide additional information about yourself, including your age, hobbies, and
            interests in learning languages: this is up to your discretion. You can choose not to provide this
            additional information to us. We also reserve the right to record, read, copy, disclose, and use (but not
            transmit to any third party) any text, speech, data, images, and other materials you transmit to us via
            non-public means for improving our Services. When you provide Personal Information through our Site, the
            information will be sent securely to servers located in the United States.

            As a service to our users, we feature Requests and Comments as well as Forum Posts for users to interact
            with each other. Information shared is accessible to the general public and may be viewed, disclosed to, or
            collected by third parties that do not adhere to our Terms or this Privacy Policy or that may use the
            information to send you unsolicited communications. In addition, we may retain this information as necessary
            to resolve disputes, provide customer support, and troubleshoot problems as permitted by law. You should
            think carefully before disclosing any personal information in any public forum.

            Also, as use make use of Google & OpenStreetMap's API to provide our maps, complying with us means complying
            with them and their terms and conditions. Trust us, their services are incredible and a key feature helping
            we use to help our language learners to unite.

        </div>

        <div class="mb-4">
            <h5>2. Cookies (but not the yummy ones)</h5>
            <hr>
            A cookie is a small text file that is stored on a user's computer for record-keeping purposes. Cookies can
            take the form of session cookies or persistent cookies. A session cookie expires when you close your browser
            and is used to make it easier for you to navigate our website. A persistent cookie remains on your hard
            drive for a specified period of time.

            We may use cookies to provide you with a better user experience by tracking your use of our Site, the links
            you click, and the searches you conduct on our Site. You may, at any time, delete by modifying your browser
            settings but keep in mind that some of our Services may not function properly with such settings.
        </div>

        <div class="mb-4">
            <h5>3. Disclosure of Your Information</h5>
            <hr>
            As a matter of policy, we do not sell or disclose any Personal Information about you to any third party
            except to provide you with products or services you have requested, when we have your permission, or under
            the circumstances listed below:
            To assert or defend our legal rights, including fraud prevention and enforcing this Privacy Policy and our
            Terms of Use;
            To protect the rights, property, or safety of us or other persons, including to detect, prevent, or
            otherwise address fraud, security, or technical issues, or anything else that we may consider to be, or pose
            a risk of being, an illegal, unethical, or legally actionable activity;
            As we deem appropriate to attempt to prevent physical or emotional harm to other persons and/or to their
            property based on overt or implied threat.
        </div>

        <div class="mb-4">
            <h5>4. Period of Retention of Personal Information</h5>
            <hr>
            We shall process and store your Personal Data only for the period necessary to achieve the purpose of
            storage, or as far as permitted by the applicable law.
        </div>

        <div class="mb-4">
            <h5>6. User’s Rights to Personal Information</h5>
            <hr>
            You have the following rights to your Personal Information:
            <ul>
                <li>Right to be informed of how we are using your Personal Information;</li>
                <li>Right of having any of your inaccurate or incomplete Personal Information rectified;</li>
                <li>Right to erasure at any time for any reason (or for no reason);</li>
                <li>Right to restrict a certain type of processing of your Personal Information;</li>
                <li>Right to retain and reuse your Personal Information for other purposes;</li>
                <li>Right to object to how your Personal Information is used; and</li>
                <li>Right to limit the use of your Personal Information by automated decision making and profiling.</li>
                <li>You may, at any time, exercise any of your above mentioned rights by contacting us at
                    lanex@gmail.com. Upon your notification, we will comply with your request as reasonably possible in
                    accordance with our policy and applicable law. However, in some incidents, we may only comply by
                    terminating your membership or otherwise restricting your access to our site. Please note that we
                    can only honor requests to opt out of disclosures on a going-forward basis and opt-out requests do
                    not affect information that we have previously disclosed. We may also retain certain information
                    about you as required by law or as permitted by law for legitimate purposes.</li>
                <li>Right of access to know which of your Personal Information is held and processed by us;</li>
            </ul>

        </div>

        <div class="mb-4">
            <h5>7. Your Use of other Users' Information</h5>
            <hr>
            Through regular use of our Site, as a member you may have access to another member’s contact or Personal
            Information. By registering for our Site and accepting this Privacy Policy, you agree that you shall not
            disclose another member’s Personal Information to any third party in any situation unless: 1) the terms of
            this Privacy Policy permit disclosure; 2) you have obtained permission from the other member; 3) you have
            obtained our permission; or 4) such disclosure is required by law; and in each case only to the extent
            permitted and/or as necessary.
        </div>

        <div class="mb-4">
            <h5>8. Security</h5>
            <hr>
            You should take steps to protect against unauthorized access to your password, phone, and computer by, among
            other things, signing off after using a shared computer, choosing a strong password that cannot be easily
            guessed, and keeping your login name and password private. We are not responsible for any lost, stolen, or
            compromised passwords or for any activity on your account via unauthorized password activity.

        </div>

        <div class="mb-4">
            <h5>9. Note about Children</h5>
            <hr>
            Our Services are not intended for children under the age of 13 in the United Kingdom or under another age
            specific to certain other countries with similar restrictions regarding the privacy of minors. We do not
            knowingly collect any Personal Information from children under 13. Should a child under 13 disclose
            information to our Site without verification of parental consent, we will delete such information (and the
            associated account) immediately. If you are a parent, teacher, or school administrator, we encourage you to
            talk to your children about online safety and how they can protect themselves online. If you believe we
            might have any information from or about a child below the minimum age, please contact us at
            contactus@innovativelanguage.com.
        </div>

        <div class="mb-4">
            <h5>10. Modifications to Privacy Policy</h5>
            <hr>
            The Privacy Policy is subject to change by us at any time based on changes in the law or our need to
            accurately reflect our data collection and disclosure practices. Changes are effective upon posting on the
            website.
        </div>

        <div class="mb-4">
            <h5>11. Contact Us</h5>
            <hr>
            <p class="text-muted">Lanex, UofG, St. Andrews Building; If you have any inquiries regarding what was mentioned about in the above, Contact us at: lanex@gmail.com </p>

        </div>

    </div>
</section>
</div>
{% include "lanex/base/footer.html" %}


{% endblock %}