{% extends "lanex/base.html" %}
{% load static %}

{% block title_block %}
Change Password
{% endblock %}

{% block body_block %}

<div class="d-flex justify-content-center mb-5">
    <div class="card" style="width: 28rem;">
        <h5 class="card-header mb-2">Change Password</h5>
        <div class="card-body">
            <form method="post" action="." class="px-5">
                {% csrf_token %}
                <div class="form-group row">
                    <label>Old Password</label>
                    {{ form.old_password }}
                </div>
                <div class="form-group row">
                    <label>New Password</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group row">
                    <label>Confirm New Password</label>
                    {{form.new_password2}}
                </div>
        </div>
        <div class="card-footer  d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Change Password</button>
        </div>
        </form>
    </div>
</div>


{% include "lanex/base/footer.html" %}

{% endblock %}